.header__logo {
    color: rgb(248, 200, 6);
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(245, 247, 248);
}

.flex {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: rgb(245, 247, 248);
}

.flex__item {
    /* display: flex; */
    width: 300px;
    margin-bottom: 10px;
}
.flex__item img{
    width: 100%;
}
.container {
    width: 100%;
}
.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px;
}
.practice__card {
    box-shadow: 0px 3px 10px rgba(0, 0 , 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
}

aside {
    width: 200px;
    /* padding: 50px; */
}

form.search-form {
    width: 12vw;

}

.card__ttl {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

